:root {
	--pathFindingBoxBorderRadius: 25%;
	--wallColor: #000;
	--pathColor: green;
	--startColor: #00f;
	--endColor: red;
	--emptyColor: rgb(226, 226, 226);
	--typeBoxOnHoverOpacity: 0.75;
}

body {
	/* !Require check in the future */
	overflow-x: hidden;
}
.contain-container-main {
	width: 100vw;
}
#pathFindingBox-display {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.2rem;
}
.box {
	background-color: var(--emptyColor);
	border-radius: var(--pathFindingBoxBorderRadius);
}
.box:hover {
	opacity: var(--typeBoxOnHoverOpacity);
}
.box.start {
	background-color: var(--startColor);
}
.box.end {
	background-color: var(--endColor);
}

.box.wall {
	background-color: var(--wallColor);
}
.box.path {
	background-color: var(--pathColor);
}
.box.empty {
	background-color: var(--emptyColor);
}
#pathFindBox-types {
	width: 100vw;
}
#pathFindBox-types-start {
	background-color: var(--startColor);
	color: wheat;
}
#pathFindBox-types-end {
	background-color: var(--endColor);
}
#pathFindBox-types-start.full {
	opacity: 0.3 !important;
}
#pathFindBox-types-end.full {
	opacity: 0.3 !important;
}
#pathFindBox-types-wall {
	background-color: var(--wallColor);
	color: wheat;
}
#pathFindBox-types-empty {
	background-color: var(--emptyColor);
}
#pathFindBox-types-container {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	justify-content: space-between;
	margin: 1rem 0;
	height: min(4vh, 2rem);
}
#pathFindBox-types-container > div {
	width: 100%;
	margin: auto 0.2rem;
	vertical-align: middle;
	text-align: center;
	border: 1.5px solid black;
	border-radius: 6%;
	user-select: none;
}
#pathFindBox-types-wall {
	background-color: var(--wallColor);
}
#pathFindBox-types-path {
	background-color: var(--pathColor);
}
#pathFindBox-types-start {
	background-color: var(--startColor);
}
#pathFindBox-types-end {
	background-color: var(--endColor);
}
#pathFindBox-types-empty {
	background-color: var(--emptyColor);
}
#pathFindBox-types-wall:hover {
	opacity: var(--typeBoxOnHoverOpacity);
}
#pathFindBox-types-path:hover {
	opacity: var(--typeBoxOnHoverOpacity);
}
#pathFindBox-types-start:hover {
	opacity: var(--typeBoxOnHoverOpacity);
}
#pathFindBox-types-end:hover {
	opacity: var(--typeBoxOnHoverOpacity);
}
#pathFindBox-types-empty:hover {
	opacity: var(--typeBoxOnHoverOpacity);
}
@media only screen and (max-width: 425px) {
	#mobileWarning {
		display: block;
	}
}
@media only screen and (min-width: 425px) {
	#mobileWarning {
		display: none;
	}
}
