:root {
	--pathFindingBoxBorderRadius: 25%;
}

body {
	/* !Require check in the future */
	overflow-x: hidden;
}
.contain-container-main {
	width: 100vw;
}
#pathFindingBox-display {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.2rem;
}
.box {
	background-color: rgb(226, 226, 226);
	border-radius: var(--pathFindingBoxBorderRadius);
}
.box:hover {
	background-color: rgb(240, 240, 240);
}
@media only screen and (max-width: 425px) {
	#mobileWarning {
		display: block;
	}
}
@media only screen and (min-width: 425px) {
	#mobileWarning {
		display: none;
	}
}
