body {
	margin: 0px;
	width: 100vw;
	scroll-behavior: smooth;
}
#content-container-main {
	margin-top: 0px;
	/* padding-left: 0.4rem; */
}
.non-clickable-link {
	cursor: not-allowed;
}
@media only screen and (min-width: 425px) {
	#content-container-main {
		padding-top: 2.2rem;
	}
}
@media only screen and (max-width: 425px) {
	#content-container-main {
		padding-top: 1.7rem;
	}
}
