:root {
	/* --navbar-background-color: #363636;
	--navbar-shadow-color: rgba(165, 165, 165, 0.363);
	--navbar-color-first-link: rgba(0, 163, 35, 0.774);
	--navbar-color-second-link: rgba(0, 225, 255, 0.5);
	--navbar-color-second-link-hover: white;
	--navbar-color-second-link-hover-shadow: rgba(62, 233, 255, 0.5); */
	--navbar-repeat-time: 5;
	--navbar-background-color: #1a237e;
	--navbar-shadow-color: #404eeeb7;
	--navbar-color-first-link: white;
	--navbar-color-second-link: rgba(255, 255, 255, 0.85);
	--navbar-color-second-link-hover: rgb(185, 185, 185);
	--navbar-color-second-link-hover-shadow: rgba(38, 0, 255, 0.5);
}
@media only screen and (min-width: 425px) {
	:root {
		--navbar-height-original: 2.7rem;
		--navbar-height-expanded: 12rem;
	}
	#navbar {
		position: absolute;
		width: 100vw;
		height: var(--navbar-height-original);
		overflow: hidden;
		background-color: var(--navbar-background-color);
		transition: height 350ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
		box-shadow: 0px 0px 1rem 0.2rem var(--navbar-shadow-color);
	}

	#navbar:hover {
		height: var(--navbar-height-expanded);
	}
	#navbar > .navbar-mobile-option-button-container {
		display: none;
	}
	#navbar > .navbar-option-icon-container > .navbar-option-icon {
		display: inline-block;
		position: absolute;
		right: 50px;
		border: solid white;
		border-width: 0rem 1.5rem 0px 0px;
		padding: 0.04rem;
		display: none;
	}
	#navbar > ul {
		display: grid;
		list-style-type: none;
		padding: 0rem;
		text-align: center;
		grid-template-columns: repeat(var(--navbar-repeat-time), 1fr);
	}
	#navbar > ul > li > a {
		color: var(--navbar-color-first-link);
		font-weight: bold;
	}
	#navbar > ul > li > ul {
		color: var(--navbar-color-second-link);
		padding: 0.7rem 0rem 0rem 0rem;
		list-style-type: disc;
		list-style-position: inside;
		text-align: left;
	}
	#navbar > ul > li > ul > li {
		padding: 0.07rem 0rem;
	}
	#navbar > ul > li > ul > li::marker {
		margin-right: 8px;
	}
	#navbar > ul > li > ul > li > a {
		color: var(--navbar-color-second-link);
		text-decoration: none;
	}
	#navbar > ul > li > ul > li > a:hover,
	#navbar > ul > li > ul > li > a:active {
		color: var(--navbar-color-second-link-hover);
		text-shadow: 2px 2px 0.1rem var(--navbar-color-second-link-hover-shadow);
	}
}
/*  */
/*  */
@media only screen and (max-width: 425px) {
	:root {
		--navbar-height-collapsed: 2.85rem;
		--navbar-width-collapsed: 2.85rem;
		--navbar-height-expanded: 100vh;
		--navbar-width-expanded: 100vw;
	}
	#navbar {
		position: absolute;
		overflow: hidden;
		box-shadow: 0px 0px 0.5rem 0.1rem var(--navbar-shadow-color);
		border-radius: 0px 0px 0.5rem 0px;
		background-color: var(--navbar-background-color);
		opacity: 0.7;
	}
	#navbar.collapsed {
		height: var(--navbar-height-collapsed);
		width: var(--navbar-width-collapsed);
		transition: width 450ms ease-in, height 325ms ease-in-out,
			opacity 550ms ease-in-out;
	}
	#navbar.expanded {
		height: var(--navbar-height-expanded);
		width: var(--navbar-width-expanded);
		background-color: var(--navbar-background-color);
		transition: width 225ms ease-in, height 450ms ease-in,
			opacity 550ms ease-in-out;
		opacity: 0.95;
	}
	#navbar > .navbar-mobile-option-button-container {
		position: absolute;
		left: 0%;
		top: 0%;
		width: var(--navbar-width-collapsed);
		height: var(--navbar-height-collapsed);
	}
	#navbar > .navbar-mobile-option-button-container > * {
		position: absolute;
		top: 0.2rem;
		left: 0.2rem;
		font-size: 2.5rem;
		color: white;
	}
	#navbar
		> .navbar-mobile-option-button-container
		> .navbar-mobile-option-button-icon-cross {
		top: 0.3rem;
		left: 0.3rem;
		font-size: 2.2rem;
	}
	#navbar > .navbar-mobile-option-button-container > * > svg {
		-webkit-transition: opacity 2000ms cubic-bezier(0.18, 0.89, 0.32, 1.28),
			transform 2000ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
		transition: opacity 2000ms cubic-bezier(0.18, 0.89, 0.32, 1.28),
			transform 2000ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	}
	#navbar > .navbar-mobile-option-button-container > *.hide > svg {
		opacity: 0;
		transform: rotate(360deg);
	}

	#navbar > .navbar-mobile-option-button-container > *.show > svg {
		opacity: 1;
		transform: rotate(-270deg);
	}
	#navbar.expanded > .navbar-mobile-option-button-container > *.show > svg {
		color: white;
	}
	#navbar > ul {
		padding-top: 2.4rem;
		padding-left: 1.7rem;
		height: 100%;
	}
	#navbar > ul > li {
		color: white;
		padding: 0.1rem 0rem;
	}
	#navbar > ul > li > a,
	#navbar > ul > li > a:active,
	#navbar > ul > li > a:hover,
	#navbar > ul > li > a:focus,
	#navbar > ul > li > a:visited {
		color: var(--navbar-color-first-link);
		font-weight: bold;
		text-decoration: none;
	}

	#navbar > ul > li > ul {
		list-style-type: square;
	}
	#navbar > ul > li > ul > li {
		padding: 0.1rem 0rem;
		width: 100vw;
	}
	#navbar > ul > li > ul > li > a,
	#navbar > ul > li > ul > li > a:active,
	#navbar > ul > li > ul > li > a:hover,
	#navbar > ul > li > ul > li > a:focus,
	#navbar > ul > li > ul > li > a:visited {
		text-decoration: none;
		overflow: hidden;
		color: var(--navbar-color-second-link);
	}
	#navbar > ul > li > ul > li > a:active,
	#navbar > ul > li > ul > li > a:hover {
		text-shadow: 2px 2px 0.1rem var(--navbar-color-second-link-hover-shadow);
	}
}
