<link rel="stylesheet" href="/res/stylesheets/navbar.css" />
<div id="navbar">
	<div class="navbar-icon-container"></div>
	<div class="navbar-option-icon-container">
		<div class="navbar-option-icon navbar-option-icon1"></div>
		<div class="navbar-option-icon navbar-option-icon2"></div>
		<div class="navbar-option-icon navbar-option-icon3"></div>
	</div>
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="javascript:void(0)">Games</a></li>
		<li>
			<a href="javascript:void(0)">Github</a>
			<ul>
				<li><a href="#">Repositories</a></li>
			</ul>
		</li>
		<li><a href="#">IDK</a></li>
	</ul>
</div>
