<link rel="stylesheet" href="/res/stylesheets/navbar.css" />
<div id="navbar">
	<ul>
		<li><a href="#">Home</a></li>
		<li>
			<a href="javascript:void(0)" class="expandable-link collapse">Github</a>
			<ul>
				<li><a href="#">Repositories</a></li>
				<li><a href="#">Organizations asdasdasd asdasdasd</a></li>
				<li><a href="#">Explore</a></li>
				<li><a href="#">Marketplace</a></li>
				<li><a href="#">Pricing</a></li>
			</ul>
		</li>
		<li><a href="javascript:void(0)" class="expandable-link collapse">Games</a></li>
		<li><a href="#">IDK</a></li>
	</ul>
</div>
