:root {
	--sortingRedHighlight: #9e0000;
	--sortingBlueHighlight: #00009e;
	--sortingGreenHighlight: #009e00;
}
body {
	height: 80vh;
}
body > #content-container-main {
	height: 100%;
}
body > #content-container-main > .sortingBox {
	width: 100%;
	height: 60vh;
}
body > .sortingBox > .sortingBox-header {
	display: flex;
}
#sortingBox-display {
	height: 100%;
	width: 99.7%;
	display: flex;
	flex-direction: row;
	justify-items: center;
}

@media only screen and (min-width: 425px) {
}
@media only screen and (max-width: 425px) {
}
.bar {
	background-color: #000;
}
.bar.red-highlight {
	background-color: var(--sortingRedHighlight);
	/* border-color: var(--sortingRedHighlight); */
}
.bar.green-highlight {
	background-color: var(--sortingGreenHighlight);
	/* border-color: var(--sortingGreenHighlight); */
}
.bar.blue-highlight {
	background-color: var(--sortingBlueHighlight);
	/* border-color: var(--sortingBlueHighlight); */
}
