:root {
	--sortingYellowHighlight: #9e8600;
	--sortingYellowGreenHighlight: #8ee600;
	--sortingGreenHighlight: #009e00;
	--sortingBlueGreenHighlight: #00d7e6;
	--sortingBlueHighlight: #00009e;
	--sortingVioletHighlight: #9e009e;
	--sortingRedVioletHighlight: #e6009e;
	--sortingRedHighlight: #9e0000;
	--sortingOrangeHighlight: #ff9100;
	--sortingYellowOrangeHighlight: #ffc400;
}
body {
	height: 80vh;
}
body > #content-container-main {
	height: 100%;
}
body > #content-container-main > .sortingBox {
	width: 100%;
	height: 60vh;
}
body > .sortingBox > .sortingBox-header {
	display: flex;
}
#sortingBox-display {
	height: 100%;
	width: 99.7%;
	display: flex;
	flex-direction: row;
	justify-items: center;
}

@media only screen and (min-width: 425px) {
}
@media only screen and (max-width: 425px) {
}
.bar {
	background-color: #000;
}
.red-highlight {
	background-color: var(--sortingRedHighlight);
	/* border-color: var(--sortingRedHighlight); */
}
.green-highlight {
	background-color: var(--sortingGreenHighlight);
	/* border-color: var(--sortingGreenHighlight); */
}
.blue-highlight {
	background-color: var(--sortingBlueHighlight);
	/* border-color: var(--sortingBlueHighlight); */
}
/* radix color */
.yellow-Highlight {
	background-color: var(--sortingYellowHighlight);
}
.yellowGreen-Highlight {
	background-color: var(--sortingYellowGreenHighlight);
}
.blueGreen-Highlight {
	background-color: var(--sortingBlueGreenHighlight);
}
.violet-Highlight {
	background-color: var(--sortingVioletHighlight);
}
.redViolet-Highlight {
	background-color: var(--sortingRedVioletHighlight);
}
.orange-Highlight {
	background-color: var(--sortingOrangeHighlight);
}
.yellowOrange-Highlight {
	background-color: var(--sortingYellowOrangeHighlight);
}
